* {
    margin: 0;
    padding: 0;
}

body {

    width: 80%;
    height: 100%;
    margin: 64px auto;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02rem;
}

.logo{
    width: 124px;
    margin-bottom: 12px;
}

.row {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.product {

    width: 400px;
    background-color: white;
    border: solid 1px rgb(216, 216, 216);
    border-radius: 20px;
    padding: 32px;
    text-align: center;
    margin: 32px 32px 0 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.8s;
}

.product:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.8s;
}

.product img{
    height: 350px;
}

.product h3,h4,p{
    margin-bottom: 8px;
}